@font-face{ 
	font-family: 'Kelmscot';
	src: url('/fonts/kelmscot/KELMSCOT-webfont.eot');
	src: url('/fonts/kelmscot/KELMSCOT-webfont.eot?iefix') format('eot'),
	     url('/fonts/kelmscot/KELMSCOT-webfont.woff') format('woff'),
	     url('/fonts/kelmscot/KELMSCOT-webfont.ttg') format('truetype'),
	     url('/fonts/kelmscot/KELMSCOT-webfont.svg#webfont') format('svg');
}

body {
  margin: 5px;
  padding: 5px;
  background: #d6d6d6;
}

h1 {
  color: #da565e;
  font-weight: bold;
  margin-bottom: 50px;
}

#invitation {
  min-width: 300px;
  padding: 5%;
  background-color: #fbddd0;
  background-image: linear-gradient(90deg, transparent 50%, rgba(250, 233, 211) 50%);
  background-size: 30px 30px;
}

#invitation > .frame {
  position: relative;
  border: 8px solid;
  border-image: url('/images/dot.svg') 33% round;
  border-image-outset: 0.5;
}

#invitation > .frame .frame-outer {
  border: solid 4px #C3792A;
  padding: 3px;
}

#invitation > .frame .frame-inner {
  border: solid 2px #C3792A;
  padding: 5px;
}

#invitation > .frame .frame-corner {
  border: 6px solid;
  border-image: url('/images/corner.svg') 33% round;
  border-image-width: 7;
}

#invitation .container-fluid {
  width: 100%;
}

#invitation .box {
  border: 30px solid;
  border-image: url('/images/box.svg') 33% round;
}

#invitation .content-undangan {
  padding-bottom: 20px;
}
#invitation .content-undangan .image{
  width: 100%;
  max-width: 320px;
}

#invitation .content-we .image {
  width: 80%;
  max-width: 300px;
}
#invitation .content-to {
  margin-bottom: 10px;
  background: url(/images/box-to.svg) no-repeat;
  background-size: 260px;
  background-position: center;
  object-fit: contain;
  height: 50px;
}
#invitation .content-to .to {
  padding-top: 17px;
  font-size: 17px;
  font-family: Kelmscot;
  color: #dc5e65;
}
#invitation .content-data {
  margin-bottom: 20px;
}
#invitation .box .content {
  margin: -8px;
  background: #fae9d3;
  font-family: Kelmscot;
  color: #dc5e65;
}

#invitation .doa {
  text-align: center;
  font-size: 15px;
  color: #c47e3c;
  font-family: Kelmscot;  
}

.back {
  background:#d6d6d6;
}

#photo {
  margin: auto;
  max-width: 768px;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 7%;
  background-color: #fbddd0;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 15px, rgba(250, 233, 211) 15px, rgba(250, 233, 211) 30px);
}

#photo > .frame {
  position: relative;
  border: 8px solid;
  border-image: url('/images/photo-dot.svg') 33% round;
  border-image-outset: 0.5;
}

#photo > .frame .frame-inner {
  background: #E6E7E8;
  background-image: url(/images/no-photo.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

#photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-comment {
  height: 100px !important;
  object-fit: cover;
}

.please {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  font-family: Kelmscot;
  color: #dc5e65;
  background: #fae9d3;
}

@media (min-width: 768px) {
  .img-comment {
    height: 200px !important;
  }
  .please {
    font-size: 20px;
  }
}

#photo > .frame .photo-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid;
  border-image: url('/images/photo-corner.svg') 33% round;
  border-image-width: 7;
  z-index: 1;
}

#photo .to {
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: Kelmscot;
  color: #ce853c;
  font-size: 20px;
  background: rgba(251, 221, 208, 0.93);
}

.navbar {
  margin: -8px;
  margin-bottom: 10px;
}

.navbar-default {
  background-color: #fae9d3;
  border-color: #fdddcf;
}

.navbar-default .navbar-nav>li>a {
  color: #dc5e65;
}
.btn-default {
  color: #fae9d3;
  background-color: #ea6b72;
  border-color: #dc5e65;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #dc5e65;
  background-color: #fbddd0;
}

hr{
  background: #fbddd0;
  margin: 0;
  border-top: 10px solid;
  border-image: url('/images/photo-dot.svg') 33% round;
}
